@model nacsolution.Models.NBA_Role

@{
    ViewBag.Title = "Details";
   
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>View Details</h2>

<div>
    @*<h4>NBA_Role</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.role_name)*@
            Role:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role_name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.role_created_date)*@
            Date Created:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role_created_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ROLE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
