
@model nacsolution.Models.NBA_Agwy

@{
    /**/

    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_PGTAdminLayout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="witdh=device-witdh, initial-scale=1">
    <title>jQuery UI Tabs - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/NiceAdmin/css/style.css" rel="stylesheet" />


    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<h2>Create Beneficiary</h2>


